collada.auto.dtd

<!-- A rough approximation to a DTD file for Collada (1.4.1), as generated
     automatically from a single file saved from the Equinox-3D modeller, then
     hacked mercilessly. Still obviously very incomplete and far too strict in
     places. Not checked against any standard! YMMV. -->

<!ELEMENT COLLADA ( asset | library_lights | library_cameras | library_effects | library_images | library_geometries | library_materials | library_visual_scenes | scene | extra )* >
<!ATTLIST COLLADA version NMTOKEN #REQUIRED >
<!ATTLIST COLLADA xmlns CDATA #REQUIRED >

<!ELEMENT E3DPanel ( E3DWindow+ ) >

<!ELEMENT E3DWindow ( param+, viewmode+, rendererset ) >
<!ATTLIST E3DWindow last_viewmode NMTOKEN #REQUIRED >
<!ATTLIST E3DWindow viewmode NMTOKEN #REQUIRED >

<!ELEMENT accessor ( param+ ) >
<!ATTLIST accessor count NMTOKEN #REQUIRED >
<!ATTLIST accessor source CDATA #REQUIRED >
<!ATTLIST accessor stride NMTOKEN #REQUIRED >

<!ELEMENT asset ( contributor | created | modified | revision | unit | up_axis )+ >

<!ELEMENT author ( #PCDATA ) >
<!ELEMENT authoring_tool ( #PCDATA ) >
<!ELEMENT comments ( #PCDATA ) >
<!ELEMENT copyright ( #PCDATA ) >
<!ELEMENT source_data ( #PCDATA ) >

<!ELEMENT bind_material ( technique_common ) >

<!ELEMENT bind_vertex_input EMPTY >
<!ATTLIST bind_vertex_input input_semantic CDATA #REQUIRED >
<!ATTLIST bind_vertex_input input_set CDATA #REQUIRED >
<!ATTLIST bind_vertex_input semantic CDATA #REQUIRED >

<!ELEMENT bool ( #PCDATA ) >

<!ELEMENT camera ( optics ) >
<!ATTLIST camera id CDATA #IMPLIED >
<!ATTLIST camera name CDATA #IMPLIED >

<!ELEMENT bump ( texture )* >

<!ELEMENT color ( #PCDATA ) >

<!ELEMENT constant_attenuation ( #PCDATA ) >

<!ELEMENT contributor ( authoring_tool | author | comments | copyright | source_data )+ >

<!ELEMENT created ( #PCDATA ) >

<!ELEMENT effect ( profile_COMMON | extra )* >
<!ATTLIST effect id CDATA #REQUIRED >
<!ATTLIST effect name CDATA #IMPLIED >

<!ELEMENT extra ( technique ) >
<!ATTLIST extra type CDATA #IMPLIED >

<!ELEMENT double_sided ( #PCDATA ) >

<!ELEMENT falloff_angle ( #PCDATA ) >

<!ELEMENT falloff_exponent ( #PCDATA ) >

<!ELEMENT float ( #PCDATA ) >

<!ELEMENT float3 ( #PCDATA ) >

<!ELEMENT float_array ( #PCDATA ) >
<!ATTLIST float_array count NMTOKEN #REQUIRED >
<!ATTLIST float_array id CDATA #REQUIRED >

<!ELEMENT format ( #PCDATA ) >

<!ELEMENT Name_array ( #PCDATA ) >
<!ATTLIST Name_array count NMTOKEN #REQUIRED >
<!ATTLIST Name_array id CDATA #REQUIRED >

<!ELEMENT newparam ( surface | sampler2D )+ >
<!ATTLIST newparam sid CDATA #IMPLIED >

<!ELEMENT int_array ( #PCDATA ) >
<!ATTLIST int_array count NMTOKEN #REQUIRED >
<!ATTLIST int_array id CDATA #REQUIRED >

<!ELEMENT geometry ( mesh | spline | extra )+ >
<!ATTLIST geometry id CDATA #REQUIRED >
<!ATTLIST geometry name CDATA #IMPLIED >

<!ELEMENT image ( init_from ) >
<!ATTLIST image id CDATA #REQUIRED >
<!ATTLIST image name CDATA #IMPLIED >

<!ELEMENT init_from ( #PCDATA ) >

<!ELEMENT input EMPTY >
<!ATTLIST input offset NMTOKEN #IMPLIED >
<!ATTLIST input set NMTOKEN #IMPLIED >
<!ATTLIST input semantic NMTOKEN #REQUIRED >
<!ATTLIST input source CDATA #REQUIRED >

<!ELEMENT instance_camera EMPTY >
<!ATTLIST instance_camera url CDATA #REQUIRED >

<!ELEMENT instance_effect ( setparam )* >
<!ATTLIST instance_effect url CDATA #REQUIRED >

<!ELEMENT instance_geometry ( bind_material? ) >
<!ATTLIST instance_geometry url CDATA #REQUIRED >

<!ELEMENT instance_material ( bind_vertex_input? ) >
<!ATTLIST instance_material symbol CDATA #REQUIRED >
<!ATTLIST instance_material target CDATA #REQUIRED >

<!ELEMENT instance_light EMPTY >
<!ATTLIST instance_light url CDATA #REQUIRED >

<!ELEMENT instance_visual_scene EMPTY >
<!ATTLIST instance_visual_scene url CDATA #REQUIRED >

<!ELEMENT library_cameras ( camera )* >

<!ELEMENT library_effects ( effect )* >

<!ELEMENT library_images ( image )* >

<!ELEMENT library_geometries ( geometry )* >

<!ELEMENT library_lights ( light )* >

<!ELEMENT library_materials ( material )* >

<!ELEMENT library_visual_scenes ( visual_scene ) >

<!ELEMENT light ( technique_common | extra )+ >
<!ATTLIST light id CDATA #REQUIRED >
<!ATTLIST light name CDATA #REQUIRED >

<!ELEMENT linear_attenuation ( #PCDATA ) >

<!ELEMENT lookat ( #PCDATA ) >

<!ELEMENT magfilter ( #PCDATA ) >

<!ELEMENT material ( instance_effect )+ >
<!ATTLIST material id CDATA #REQUIRED >
<!ATTLIST material name CDATA #REQUIRED >

<!ELEMENT mesh ( source | vertices | triangles | polygons | polylist )* >

<!ELEMENT minfilter ( #PCDATA ) >

<!ELEMENT profile_COMMON ( newparam | technique | extra )+ >

<!ELEMENT spline ( source | control_vertices )+ >

<!ELEMENT modified ( #PCDATA ) >

<!ELEMENT optics ( technique_common ) >

<!ELEMENT orthographic ( xmag, ymag, znear, zfar ) >

<!ELEMENT p ( #PCDATA ) >

<!ELEMENT param ( #PCDATA ) >
<!ATTLIST param count NMTOKEN #IMPLIED >
<!ATTLIST param name CDATA #REQUIRED >
<!ATTLIST param type ( Name | boolean | float | float3 | float4 | int | URL ) #REQUIRED >

<!ELEMENT perspective ( xfov | yfov | znear | zfar | aspect_ratio )* >

<!ELEMENT phong ( ambient | emission | diffuse | specular | shininess | reflective | reflectivity | transparent | transparency | index_of_refraction )+ >

<!ELEMENT lambert ( ambient | diffuse )+ >

<!ELEMENT ambient ( color ) >

<!ELEMENT diffuse ( color | texcoord | texture )+ >

<!ELEMENT emission ( color ) >

<!ELEMENT specular ( color ) >

<!ELEMENT shininess ( float ) >

<!ELEMENT reflective ( color ) >

<!ELEMENT reflectivity ( float ) >

<!ELEMENT transparent ( color ) >

<!ELEMENT transparency ( float ) >

<!ELEMENT index_of_refraction ( float ) >

<!ELEMENT point ( color, constant_attenuation, linear_attenuation, quadratic_attenuation ) >

<!ELEMENT polygons ( input+, p+, extra? ) >
<!ATTLIST polygons count NMTOKEN #REQUIRED >
<!ATTLIST polygons material CDATA #IMPLIED >

<!ELEMENT polylist ( input | vcount | p )+ >
<!ATTLIST polylist count NMTOKEN #REQUIRED >
<!ATTLIST polylist material CDATA #IMPLIED >

<!ELEMENT program ( param )+ >
<!ATTLIST program id CDATA #IMPLIED >
<!ATTLIST program url CDATA #IMPLIED >

<!ELEMENT quadratic_attenuation ( #PCDATA ) >

<!ELEMENT renderer ( param+ ) >
<!ATTLIST renderer class CDATA #REQUIRED >

<!ELEMENT rendererset ( param+, renderer+ ) >
<!ATTLIST rendererset current_renderer CDATA #REQUIRED >
<!ATTLIST rendererset last_renderer CDATA #IMPLIED >

<!ELEMENT revision ( #PCDATA ) >

<!ELEMENT rotate ( #PCDATA ) >
<!ATTLIST rotate sid CDATA #IMPLIED >

<!ELEMENT sampler2D ( source | minfilter | magfilter )+ >

<!ELEMENT scale ( #PCDATA ) >
<!ATTLIST scale sid CDATA #IMPLIED >

<!ELEMENT scene ( instance_visual_scene ) >

<!ELEMENT scene_settings ( param+ ) >

<!ELEMENT setparam ( bool | float3 | float )? >
<!ATTLIST setparam ref CDATA #REQUIRED >

<!ELEMENT source ( #PCDATA | Name_array | int_array | float_array | technique_common | technique )* >
<!ATTLIST source id CDATA #IMPLIED >
<!ATTLIST source name CDATA #IMPLIED >

<!ELEMENT spot ( color | constant_attenuation | linear_attenuation | quadratic_attenuation | falloff_angle | falloff_exponent )+ >

<!ELEMENT surface ( init_from | format )+ >
<!ATTLIST surface type NMTOKEN #REQUIRED >

<!ELEMENT technique ( E3DPanel | bump | phong | lambert | param | program | rendererset | scene_settings | adapt_thresh | area_shape | area_size | area_sizex | area_sizey | area_sizez | atm_distance_factor | atm_extinction_factor | atm_turbidity | att1 | att2 | backscattered_light | bias | blue | buffers | bufflag | bufsize | buftype | clipend | clipsta | compressthresh | dist | energy | extra | falloff_type | filtertype | flag | gamma | green | halo_intensity | horizon_brightness | mode | ray_samp | ray_samp_method | ray_samp_type | ray_sampy | ray_sampz | red | samp | shadhalostep | shadow_b | shadow_g | shadow_r | shadspotsize | sky_colorspace | sky_exposure | skyblendfac | skyblendtype | soft | spotblend | spotsize | spread | sun_brightness | sun_effect_type | sun_intensity | sun_size | type | double_sided )* >
<!ATTLIST technique profile CDATA #IMPLIED >
<!ATTLIST technique id CDATA #IMPLIED >
<!ATTLIST technique sid CDATA #IMPLIED >

<!ELEMENT technique_common ( accessor | orthographic | perspective | point | instance_material | spot | ambient )* >

<!ELEMENT xfov ( #PCDATA ) >

<!ELEMENT aspect_ratio ( #PCDATA ) >

<!ELEMENT texture EMPTY >
<!ATTLIST texture texcoord CDATA #REQUIRED >
<!ATTLIST texture texture CDATA #REQUIRED >

<!ELEMENT translate ( #PCDATA ) >
<!ATTLIST translate sid CDATA #IMPLIED >

<!ELEMENT triangles ( input | p | extra )+ >
<!ATTLIST triangles count NMTOKEN #REQUIRED >
<!ATTLIST triangles material CDATA #IMPLIED >

<!ELEMENT vertices ( input ) >
<!ATTLIST vertices id CDATA #REQUIRED >

<!ELEMENT vcount ( #PCDATA ) >

<!ELEMENT control_vertices ( input )+ >

<!ELEMENT unit EMPTY >
<!ATTLIST unit meter CDATA #REQUIRED >
<!ATTLIST unit name CDATA #REQUIRED >

<!ELEMENT up_axis ( #PCDATA ) >

<!ELEMENT viewmode ( lookat, camera ) >
<!ATTLIST viewmode type ( ANIMATION | FRONT | PERSPECTIVE | RIGHT | SCHEMATICS | TEXTURE | TOP ) #REQUIRED >

<!ELEMENT visual_scene ( node )* >
<!ATTLIST visual_scene id CDATA #REQUIRED >
<!ATTLIST visual_scene name CDATA #IMPLIED >

<!ELEMENT node ( translate | rotate | scale | instance_light | extra | instance_geometry
		 | instance_camera | lookat )* >
<!ATTLIST node id CDATA #REQUIRED >
<!ATTLIST node name CDATA #IMPLIED >
<!ATTLIST node type CDATA #IMPLIED >
<!ATTLIST node layer CDATA #IMPLIED >

<!ELEMENT xmag ( #PCDATA ) >

<!ELEMENT yfov ( #PCDATA ) >

<!ELEMENT ymag ( #PCDATA ) >

<!ELEMENT zfar ( #PCDATA ) >

<!ELEMENT znear ( #PCDATA ) >

<!ELEMENT adapt_thresh ( #PCDATA ) >
<!ELEMENT area_shape ( #PCDATA ) >
<!ELEMENT area_size ( #PCDATA ) >
<!ELEMENT area_sizex ( #PCDATA ) >
<!ELEMENT area_sizey ( #PCDATA ) >
<!ELEMENT area_sizez ( #PCDATA ) >
<!ELEMENT atm_distance_factor ( #PCDATA ) >
<!ELEMENT atm_extinction_factor ( #PCDATA ) >
<!ELEMENT atm_turbidity ( #PCDATA ) >
<!ELEMENT att1 ( #PCDATA ) >
<!ELEMENT att2 ( #PCDATA ) >
<!ELEMENT backscattered_light ( #PCDATA ) >
<!ELEMENT bias ( #PCDATA ) >
<!ELEMENT blue ( #PCDATA ) >
<!ELEMENT buffers ( #PCDATA ) >
<!ELEMENT bufflag ( #PCDATA ) >
<!ELEMENT bufsize ( #PCDATA ) >
<!ELEMENT buftype ( #PCDATA ) >
<!ELEMENT clipend ( #PCDATA ) >
<!ELEMENT clipsta ( #PCDATA ) >
<!ELEMENT compressthresh ( #PCDATA ) >
<!ELEMENT dist ( #PCDATA ) >
<!ELEMENT energy ( #PCDATA ) >
<!ELEMENT falloff_type ( #PCDATA ) >
<!ELEMENT filtertype ( #PCDATA ) >
<!ELEMENT flag ( #PCDATA ) >
<!ELEMENT gamma ( #PCDATA ) >
<!ELEMENT green ( #PCDATA ) >
<!ELEMENT halo_intensity ( #PCDATA ) >
<!ELEMENT horizon_brightness ( #PCDATA ) >
<!ELEMENT mode ( #PCDATA ) >
<!ELEMENT ray_samp ( #PCDATA ) >
<!ELEMENT ray_samp_method ( #PCDATA ) >
<!ELEMENT ray_samp_type ( #PCDATA ) >
<!ELEMENT ray_sampy ( #PCDATA ) >
<!ELEMENT ray_sampz ( #PCDATA ) >
<!ELEMENT red ( #PCDATA ) >
<!ELEMENT samp ( #PCDATA ) >
<!ELEMENT shadhalostep ( #PCDATA ) >
<!ELEMENT shadow_b ( #PCDATA ) >
<!ELEMENT shadow_g ( #PCDATA ) >
<!ELEMENT shadow_r ( #PCDATA ) >
<!ELEMENT shadspotsize ( #PCDATA ) >
<!ELEMENT sky_colorspace ( #PCDATA ) >
<!ELEMENT sky_exposure ( #PCDATA ) >
<!ELEMENT skyblendfac ( #PCDATA ) >
<!ELEMENT skyblendtype ( #PCDATA ) >
<!ELEMENT soft ( #PCDATA ) >
<!ELEMENT spotblend ( #PCDATA ) >
<!ELEMENT spotsize ( #PCDATA ) >
<!ELEMENT spread ( #PCDATA ) >
<!ELEMENT sun_brightness ( #PCDATA ) >
<!ELEMENT sun_effect_type ( #PCDATA ) >
<!ELEMENT sun_intensity ( #PCDATA ) >
<!ELEMENT sun_size ( #PCDATA ) >
<!ELEMENT type ( #PCDATA ) >
